
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Author</th>
        <th>Price</th>
        <th>Edition</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var b in Model)
    { 
        <tr>
            <td>@b.Id</td>
            <td>@b.Name</td>
            <td>@b.Author</td>
            <td>@b.Price</td>
            <td>@b.Edition</td>
            <td><a href="/book/edit/@b.Id" class="btn btn-info">Edit</a></td>
            <td><a href="" class="btn btn-danger">Delete</a></td>
        </tr>
    }
</table>
